@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&family=Vazirmatn:wght@100;400;600;800&display=swap');


html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Vazirmatn', sans-serif;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
  border: 2px solid var(--color);
  border-radius: 4px;
  margin: 1rem;

  &:hover {
    background: #888;
    cursor: pointer;
  }

}

a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: var(--color);
}

p,
li {
  font-size: 12px;
  font-weight: 600;
  color: var(--color);
}


ul {
  list-style-type: none;
}

.linker {
  height: 10px;
  width: 10px;
  margin-left: 2px;
}