@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&family=Vazirmatn:wght@100;400;600;800&display=swap');


html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Vazirmatn', sans-serif;
}

a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: var(--color);
}

p {
  font-size: 12px;
  font-weight: 600;
  color: var(--color);
}

ul {
  list-style-type: none;
}

.linker {
  height: 10px;
  width: 10px;
  margin-left: 2px;
}