.about {
  height: 100vh;
  padding: 2rem;

  &__header {
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;

    &-card {
      width: 50%;

      h1 {
        font-size: 125px;
        line-height: 125px;
      }

      p {
        width: 66ch;
        line-height: 12px;
      }
    }

    &-close {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      width: 20%;

      .meIcon {
        display: none;
      }

      p {
        font-size: 12px;
        font-weight: 600;
        color: var(--color);

        &:hover {
          cursor: pointer;
        }
      }

      &-underline {
        width: 2.2rem;
        height: 2px;
        background-color: var(--color);
      }
    }
  }

  &__lists {

    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-table {
      width: 90%;

      display: flex;
      flex-direction: row;
    }

    &-links {
      width: 10%;
      display: flex;
      flex-direction: column;

      li {
        font-size: 14px;
        line-height: 28px;
        font-weight: 600;
        color: var(--color);
        opacity: 0.8;

        .linker {
          opacity: 0;
          transition: all 200ms ease;
          transform: translateX(-10px);
        }

        &:hover {
          opacity: 1;

          .linker {
            opacity: 1;
            transform: translateX(0);
            transition: all 200ms ease 300ms;
          }
        }
      }
    }
  }


  &__tags {
    height: 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-available {
      opacity: 0.8;
      font-size: 10px;
      line-height: 12px;
      width: 30%;
      text-align: start;
    }

    &-rights {
      opacity: 0.8;
      font-size: 10px;
      line-height: 12px;
      width: 30%;
      text-align: end;
    }

    &-design {
      width: 40%;
      text-align: center;
    }

  }


  &__extras {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 2rem;
      padding: 1rem;

      li {
        width: 24ch;
        margin-right: 12rem;
        height: fit-content;
        border-left: 1px solid var(--color);
        padding-left: 1rem;


      }

      .cv {
        opacity: 0.7;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      li:last-child {
        margin-right: 0;
        width: 100ch;
        border: none;
      }
    }
  }
}


@media screen and (max-width: 1028px) {
  .about {
    &__lists {
      &-links {
        li {
          .linker {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }

    &__extras {
      display: none;
    }
  }
}

@media screen and (max-width: 1000px) {
  .about {
    &__header {
      height: 30%;

      &-card {
        h1 {
          font-size: 64px;
          line-height: 64px;
        }
      }
    }

    &__lists {
      height: 65%;

      &-table {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-width: 10%;

        width: 50%;

        ul {

          margin-right: 0;
        }
      }

      &-links {
        width: 20%;
        align-items: flex-end;
      }
    }

    &__extras {
      display: none;
    }
  }
}


@media screen and (max-width: 768px) {
  .about {
    padding: 1rem;
    overflow: hidden;

    &__header {
      height: 20%;
      padding-block: 1rem;

      &-card {

        h1 {
          font-size: 32px;
          line-height: 32px;
          margin-bottom: 1rem;
        }

        p {
          width: 40ch;
          line-height: 12px;
        }
      }

      &-close {

        .meIcon {
          display: block;
        }

        p {
          display: none;
        }

        &-underline {
          display: none;
        }
      }
    }

    &__lists {
      padding-block: 1rem;
      height: 75%;
      flex-direction: column;

      &-table {
        width: 100%;
        flex-direction: column;

        ul {
          margin: 10%;
          margin-inline-start: 0;

          li {
            line-height: 18px;
          }
        }
      }

      &-links {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;

        li {

          .linker {
            opacity: 1;
            transform: translateX(0px);
          }

        }
      }
    }


    &__tags {
      height: 5%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &-available {
        display: none;
      }

      &-rights {
        display: none;
      }

      &-design {
        width: 100%;
        text-align: center;
        opacity: 0.3;
      }
    }

    &__extras {
      display: none;
    }
  }

}